In [22]:
import os
import subprocess
import pandas as pd
import time
import seaborn as sns
sns.set(style='whitegrid')
sns.set(rc={'figure.figsize':(11.7, 8.27)})

def run_experiment(exp_name: str, rps=100, duration_sec=5, handler='sleep50', silent=True) -> str:
    dump_file = f'/tmp/{exp_name}.bin'
    run_vegeta = f"echo 'GET http://localhost:8890/{handler}' | vegeta -cpus 1 attack -rate {rps} -duration {duration_sec}s -timeout 1s -name {exp_name} -workers 1 > {dump_file}"
    p = subprocess.run(run_vegeta, shell=True)
    if not silent:
        print(p)
        print('---'*10)
        print_report = f"cat {dump_file} | vegeta report -reporter text > /tmp/res.txt"
        subprocess.run(print_report, shell=True)
        print(open('/tmp/res.txt').read())

def read_experiment(csv_path: str, warmup_time_sec = 0.2) -> pd.DataFrame:
    names = ['unix_ts_ns', 'http_code', 'latency_ns', 'bytes_out', 'bytes_in', 'x', 'error', 'exp_name', 'y']
    data = pd.read_csv(csv_path, header=None, names=names)
    del data['error']
    del data['x']
    del data['y']
    del data['bytes_out']
    del data['bytes_in']
    begin_ts_ns = data.unix_ts_ns.min()
    exp_start_ts_ns = begin_ts_ns + int(warmup_time_sec * 1_000_000_000)
    data = data[data.unix_ts_ns > exp_start_ts_ns]
    data.reset_index(drop=True, inplace=True)
    data['latency_ms'] = (data['latency_ns'] / 1_000_000).round(2)
    del data['unix_ts_ns']
    del data['latency_ns']
    return data

def aggr_exp(exp_names: list) -> str:
    out_csv = f'/tmp/out.csv'
    dump_files = ','.join([f'/tmp/{exp_name}.bin' for exp_name in exp_names])
    dump_ext = f"vegeta dump -inputs {dump_files} -output {out_csv} -dumper csv"
    p = subprocess.run(dump_ext, shell=True)
    # print(p)
    return out_csv

def plot_exp_data(exp_data):
    ax = sns.boxplot(x='latency_ms', y='exp_name', data=exp_data)

def latency_table(exp_data, rps):
    a = exp_data.groupby('exp_name').quantile([.95, .98, .99])
    a = a.reset_index().pivot(index='exp_name', columns='level_1', values='latency_ms')
    a = a.round(1)
    df = a.reset_index()
    #df['exp_name'], df['rps'] = df.exp_name.str.split('_rps_').str
    df['rps'] = rps
    df['rps'] = df['rps'].astype(int)
    df.sort_values('rps', inplace=True)
    df.reset_index(drop=True, inplace=True)
    df = df[['rps','exp_name', 0.95, 0.98, 0.99]]
    return df


def hand_experiment(name: str, rps=100, duration_sec=3, repeats=5, **kwargs):
    exp_datas = []
    latencies = []
    for _ in range(repeats):
        run_experiment(name, rps, duration_sec, **kwargs)
        csv_file = aggr_exp([name])
        exp_data = read_experiment(csv_file, warmup_time_sec=1)
        exp_datas.append(exp_data)
        df = latency_table(exp_data, rps)
        latencies.append(df)
    latencies = pd.concat(latencies)
    return latencies, exp_datas

In [36]:
lats = []
repeats = 3
duration_sec = 10

In [37]:
rps = 1000
lat, _ = hand_experiment('tornado_oldstyle', rps=rps, duration_sec=duration_sec, repeats=repeats, handler='oldstyle50')
lats.append(lat)
time.sleep(0.5)
lat, _ = hand_experiment('tornado_async', rps=rps, duration_sec=duration_sec, repeats=repeats)
lats.append(lat)
pd.concat(lats)

level_1   rps          exp_name  0.95  0.98  0.99
0        1000  tornado_oldstyle  55.3  57.3  58.3
0        1000  tornado_oldstyle  53.7  57.4  59.2
0        1000  tornado_oldstyle  53.2  55.0  56.5
0        1000     tornado_async  52.6  54.6  55.8
0        1000     tornado_async  53.2  55.7  58.0
0        1000     tornado_async  52.4  54.8  56.9

In [39]:
rps = 1000
lat, _ = hand_experiment('aiohttp', rps=rps, duration_sec=duration_sec, repeats=repeats)
lats.append(lat)
time.sleep(0.5)

In [45]:
def results(lats: list) -> pd.DataFrame:
    df = pd.concat(lats)
    return df.groupby(['exp_name', 'rps']).mean().sort_values(0.98)

In [46]:
results(lats)

level_1                      0.95       0.98       0.99
exp_name          rps
aiohttp           1000  51.133333  51.466667  52.133333
tornado_async     1000  52.733333  55.033333  56.900000
tornado_oldstyle  1000  54.066667  56.566667  58.000000
tornado_hard_work 1000  79.716667  82.066667  83.383333

In [ ]:
# mean cpu time of process

In [44]:
lat, _ = hand_experiment('tornado_hard_work', rps=rps, duration_sec=duration_sec, repeats=repeats, handler='hard_work')
lat

In [ ]:
lats.append(lat)

In [53]:
lat, _ = hand_experiment('aiohttp_hard_work', rps=rps, duration_sec=duration_sec, repeats=repeats, handler='hard_work')
# lats.append(lat)
#results(lats)
lat

level_1   rps           exp_name   0.95   0.98   0.99
0        1000  aiohttp_hard_work  127.8  128.9  130.6
0        1000  aiohttp_hard_work  127.5  129.2  132.6
0        1000  aiohttp_hard_work  127.6  128.1  128.6

In [51]:
lat

level_1   rps           exp_name   0.95   0.98   0.99
0        1000  aiohttp_hard_work  102.0  103.1  105.9
0        1000  aiohttp_hard_work  101.9  102.6  103.7
0        1000  aiohttp_hard_work  101.8  102.4  103.2